In [2]:
## Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
##Load the dataset into python environment
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [4]:
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [5]:
train.shape, test.shape

((8523, 12), (5681, 11))

In [6]:
train.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [7]:
train.isnull().sum()/train.shape[0]*100

Item_Identifier               0.000000
Item_Weight                  17.165317
Item_Fat_Content              0.000000
Item_Visibility               0.000000
Item_Type                     0.000000
Item_MRP                      0.000000
Outlet_Identifier             0.000000
Outlet_Establishment_Year     0.000000
Outlet_Size                  28.276428
Outlet_Location_Type          0.000000
Outlet_Type                   0.000000
Item_Outlet_Sales             0.000000
dtype: float64

In [8]:
test.isnull().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [10]:
train['Item_Weight'] =  train['Item_Weight'].fillna(train['Item_Weight'].mean())
test['Item_Weight'] =  test['Item_Weight'].fillna(test['Item_Weight'].mean())

In [11]:
train['Outlet_Size'] =  train['Outlet_Size'].fillna(train['Outlet_Size'].mode()[0])
test['Outlet_Size'] =  test['Outlet_Size'].fillna(test['Outlet_Size'].mode()[0])

In [12]:
train.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [13]:
test.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
dtype: int64

In [14]:
train.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Item_Weight,8523.0,12.857645,4.226124,4.555,9.310000,12.857645,16.000000,21.350000
Item_Visibility,8523.0,0.066132,0.051598,0.000,0.026989,0.053931,0.094585,0.328391
Item_MRP,8523.0,140.992782,62.275067,31.290,93.826500,143.012800,185.643700,266.888400
Outlet_Establishment_Year,8523.0,1997.831867,8.371760,1985.000,1987.000000,1999.000000,2004.000000,2009.000000
Item_Outlet_Sales,8523.0,2181.288914,1706.499616,33.290,834.247400,1794.331000,3101.296400,13086.964800

In [15]:
train.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [16]:
train.Item_Identifier.value_counts()

FDW13    10
FDG33    10
NCY18     9
FDD38     9
DRE49     9
         ..
FDY43     1
FDQ60     1
FDO33     1
DRF48     1
FDC23     1
Name: Item_Identifier, Length: 1559, dtype: int64

In [17]:
train.Item_Fat_Content.value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [18]:
train['Item_Fat_Content'].replace(['low fat','LF','reg'],['Low Fat','Low Fat','Regular'],inplace = True)
test['Item_Fat_Content'].replace(['low fat','LF','reg'],['Low Fat','Low Fat','Regular'],inplace = True)

In [19]:
train.Item_Fat_Content.value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [20]:
train.Item_Type.value_counts()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [21]:
train.Outlet_Identifier .value_counts()

OUT027    935
OUT013    932
OUT049    930
OUT046    930
OUT035    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64

In [22]:
train.Outlet_Size.value_counts()

Medium    5203
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [23]:
train.Outlet_Location_Type.value_counts()

Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

In [24]:
train.Outlet_Type.value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [25]:
train.drop('Item_Identifier', axis=1, inplace=True)

In [26]:
train.dtypes

Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

Label Encoder - Item_Fat_Content, Outlet_Size, Outlet_Location_Type
One-hot Encoder - Item_Type, Outlet_Identifier, Outlet_Type

In [27]:
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
train['Item_Fat_Content']=label.fit_transform(train['Item_Fat_Content'])
train['Outlet_Size']=label.fit_transform(train['Outlet_Size'])
train['Outlet_Location_Type']=label.fit_transform(train['Outlet_Location_Type'])

In [28]:
train_data=pd.get_dummies(train['Item_Type'])
train=pd.concat([train, train_data], axis=1)

train_data=pd.get_dummies(train['Outlet_Identifier'])
train=pd.concat([train, train_data], axis=1)

train_data=pd.get_dummies(train['Outlet_Type'])
train=pd.concat([train, train_data], axis=1)

In [29]:
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
test['Item_Fat_Content']=label.fit_transform(test['Item_Fat_Content'])
test['Outlet_Size']=label.fit_transform(test['Outlet_Size'])
test['Outlet_Location_Type']=label.fit_transform(test['Outlet_Location_Type'])

In [30]:
test_data=pd.get_dummies(test['Item_Type'])
test=pd.concat([test, test_data], axis=1)

test_data=pd.get_dummies(test['Outlet_Identifier'])
test=pd.concat([test, test_data], axis=1)

test_data=pd.get_dummies(test['Outlet_Type'])
test=pd.concat([test, test_data], axis=1)

In [31]:
train=train.drop(['Item_Type', 'Outlet_Identifier', 'Outlet_Type'], axis=1)

In [32]:
test=test.drop(['Item_Type', 'Outlet_Type'], axis=1)

In [33]:
x_train = train.drop('Item_Outlet_Sales', axis=1)
y_train = train.Item_Outlet_Sales

X_test = test.drop(['Outlet_Identifier','Item_Identifier'], axis=1)

In [34]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
X_test = sc.transform(X_test)

# Linear Regression

In [48]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
model1 = lr.fit(x_train, y_train)
pred1 = abs(model1.predict(X_test))

from sklearn import metrics
from sklearn.metrics import mean_squared_error, r2_score
print("RMSE : %.4g" % np.sqrt(metrics.mean_squared_error(y_train, model1.predict(x_train))))

RMSE : 1127

In [49]:
submission = pd.DataFrame({
'Item_Identifier':test['Item_Identifier'],
'Outlet_Identifier':test['Outlet_Identifier'],
'Item_Outlet_Sales': pred1
},columns=['Item_Identifier','Outlet_Identifier','Item_Outlet_Sales'])

In [50]:
submission.to_csv('submission1.csv',index=False)

# Lasso Regression

In [51]:
from sklearn.linear_model import Lasso
lasso = Lasso(max_iter=10e5)
model2 = lasso.fit(x_train, y_train)
pred2 = abs(model2.predict(X_test))

print("RMSE : %.4g" % np.sqrt(metrics.mean_squared_error(y_train, model2.predict(x_train))))

RMSE : 1127

In [52]:
submission = pd.DataFrame({
'Item_Identifier':test['Item_Identifier'],
'Outlet_Identifier':test['Outlet_Identifier'],
'Item_Outlet_Sales': pred1
},columns=['Item_Identifier','Outlet_Identifier','Item_Outlet_Sales'])
submission.to_csv('submission2.csv',index=False)

# Random forest

In [53]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=100,max_depth=6, min_samples_leaf=50,n_jobs=4)
model3 = rf.fit(x_train, y_train)
pred3 = abs(model2.predict(X_test))

print("RMSE : %.4g" % np.sqrt(metrics.mean_squared_error(y_train, model3.predict(x_train))))

RMSE : 1062

In [54]:
submission = pd.DataFrame({
'Item_Identifier':test['Item_Identifier'],
'Outlet_Identifier':test['Outlet_Identifier'],
'Item_Outlet_Sales': pred1
},columns=['Item_Identifier','Outlet_Identifier','Item_Outlet_Sales'])
submission.to_csv('submission3.csv',index=False)

# SVM Model

In [55]:
from sklearn.svm import SVR
svm = SVR()
model3 = svm.fit(x_train, y_train)
pred3 = abs(pd.DataFrame(model2.predict(X_test)))

print("RMSE : %.4g" % np.sqrt(metrics.mean_squared_error(y_train, model3.predict(x_train))))

RMSE : 1690

In [56]:
submission = pd.DataFrame({
'Item_Identifier':test['Item_Identifier'],
'Outlet_Identifier':test['Outlet_Identifier'],
'Item_Outlet_Sales': pred1
},columns=['Item_Identifier','Outlet_Identifier','Item_Outlet_Sales'])
submission.to_csv('submission4.csv',index=False)